.container{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 600px;
    grid-template-areas: 
    "main main main main main main main main"
}

.content{
    grid-area: main;
    text-align: center;
    background-image: url("img/person-holding-terrestrial-globe-scale-model-taken-1079033.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
